@font-face {
  font-family: 'Comic Sans MS';
  src: url('../fonts/Comic\ Sans\ MS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-heading: 'Comic Sans MS', monospace, sans-serif;

// Colors
$white: #f4f4f3;
$black: #1d1d1d;
$red: #DC0000;